.view-id-restore_listing_more {
     background-color: red;

    font-weight: normal;

    image {
        max-width: 200px;
    }
    .views-field-field-display-title {
        max-width: 200px;
    }
    .views-field-field-image {
        max-width: 200px;
    }

 }

